#divKoUt {
    opacity: 0;
}
#divInnskudd {
    opacity: 0;
}
#divUttak {
    opacity: 0;
}
#divHeader {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#divKontoer {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}
#divValg {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.btnMarg {
    margin-top: 5px;
    margin-bottom: 5px;
}
.th {
    padding-left: 10px;
}

